<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>1oz1S2CjYRhlG5VE371daabVBin0CqDYbTka61e</string>
	<key>GCM_SENDER_ID</key>
	<string>00810033084026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metricsecosystem.mikm</string>
	<key>PROJECT_ID</key>
	<string>mikm-l1bs</string>
	<key>STORAGE_BUCKET</key>
	<string>mikm-l1bs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>p:a1s03v0840cx:ios:aw95rgre56h7gofc18edc0</string>
</dict>
</plist>
